/* File: schedule.css               *
 * Project: ITW 2                   *
 * Author: Martin Ivanco (xivanc03) */

@import url("base.css");

/*************** TABLE ***************/
table {
	margin-bottom: 20px;
}
td, th {
	padding: 2px 7px;
	font-size: 18px;
	border-bottom: 1px solid grey;
}
#hid {
	border-bottom-color: transparent;
}
.time {
	text-align: center;
}
